<div class="top-container">
	<div>
		<h3 class="game-title">{{name}}</h3>
		<p class="release-date"><u>Release date:</u>  <span>{{released}}</span></p>
		<p class="platforms"><u>Platforms:</u><span>{{allplatforms}}</span></p>
		<p class="website"><u>Website:</u>  <span><a href="{{website}}" target="_blank">{{website}}</a></span></p>
		<p class="website-phone"><a href="{{website}}" target="_blank"><u>Website</u></a></p>
	</div>
	<div>
		<img class="game-image" src="{{background_image}}" alt="image of the game">
	</div>
</div>
<div class="description">
	<p>{{{description}}}</p>
</div>
